
.h-33 {
    height: 8.25rem; 
}

.h-28 {
    height: 7rem;
}


.navbar-spa {
    background-color: white; 
    
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}


.input-field-focus:focus {
    
    border-color: #9b6f17; 

    box-shadow: 0 0 0 3px rgba(155, 111, 23, 0.2);
}


.logo-glow {
    text-shadow: 0 0 1px rgba(155, 111, 23, 0.3);
}
.cursor-pointer {
    cursor: pointer !important;
}
